html, body {
  height: 100%;
  width: 100%;
  font-family: 'Assistant', sans-serif;
}

$width: 576px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
};

@import 'manager';
@import 'home';
@import 'onboarding';
@import 'register';
@import 'login';


