html, body {
  height: 100vh;
  width: 100%;
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
};


.onboarding {
  background: #EDE3E3;
  height: 100vh;

  .menu {
    margin-top: 10px;

    .nav-item {
      padding-right: 20px;
    }
    
    .nav-link {
      
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;

      color: #260D26;
    }

    .register {
      border: 1px solid #6D0069;
      box-sizing: border-box;
      border-radius: 4px;
      width: 150px;
      height: 38px;
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
      background: #6D0069;
      cursor: pointer;
    }
  }

  .questionnaire {
    .team {
      top: 180px;
    }

    .member {
      height: 270px;
      left: 329px;
      top: 240px;
      background: #F3D9C0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      
      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #260D26;
        display: flex;
        justify-content: center;
        padding-top: 40px;
      }

      .btn {
        display: flex;
        justify-content: space-between;
        padding: 34px;
      }
      
      button {
        width: 300px;
        height: 73px;
        left: 388px;
        top: 350px;
        border: none;
      }
    }
  }

  .testimonial {
    display: flex;
    justify-content: center;
    .quote {
      position: absolute;
      width: 32px;
      height: 32px;
      //left: 690px;
      top: 569px;
    }
    h4 {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #260D26;
      top: 617px;
      margin-top: 280px;
      // margin-left: 541px;
      width: 337px;
    }
  }
}

@media (max-width: 576px) {
  .onboarding {
    .questionnaire {
      .team {
        top: 120px;
      }

      .member { 
        .btn {
          flex-direction: column;
          padding: inherit;
          margin-top: 10px;      
        }

        h4 {
        text-align: center;
        }

        button {
          height: 63px;
          margin-bottom: 10px;
        }
      }
    }

    .testimonial {
      .quote {
        top: 509px;
      }
      
      h4 {
        margin-top: 260px;
      }
    }
  }
}